<?xml version="1.0"?>
<model>
    <name>DD Robot</name>
    <version>1.0</version>
    <sdf version="1.4">model.sdf</sdf>

    <!-- say something here -->
    <author>
        <name>Daniel M. Lofaro</name>
        <email>dan@danLofaro.com</name>
    </author>

    <description>
        Robots are Awesome!!!! and this is a DD Robot
    </description>
</model>